@import "../../shared/assets/colors.scss";

.title {
  background: $gradient-color-title;
  background-clip: text;
  color: transparent;
  font-size: 7em;
  font-family: $space-text;
  padding: 0;
  width: 100%;
  text-align: center;
}
