// Definition of color variables
$primary-color: #1A1A1A;
$secondary-color: #242424;


// Text colors
$text-color: #fff;
$text-color-info: #64E9EE;
$text-color-footer: #b1b1b1;
$text-hover-color: #3AAFB9;

// Font family
$space-text: monospace;

// Gradient colors
$gradient-color-title: linear-gradient(315deg, #1bb46f 50%, #5d74e6);