// Definition of color variables
$primary-color: #1A1A1A;
$secondary-color: #242424;


// Text colors
$text-color: #fff;
$text-color-footer: #b1b1b1;
$text-hover-color: #3AAFB9;

// Font family
$space-text: monospace;